/*
    chat.css - 页面样式（除了消息本身）
    2022/05/30 - Stapx Steve [林槐]
*/

:root {
    --switch-dot-border-me: 4px;
    --switch-dot-margin-me: 5px;
    --switch-height-me: 30px;
    --switch-min-width: 55px;
    --switch-top: 0.5rem;
}

html, body {
    height: 100%;
}
body {
    background: var(--color-bg);
    color: var(--color-font);
}

label[class="ss-switch"] {
    --switch-dot-border: var(--switch-dot-border-me);
    --switch-dot-margin: var(--switch-dot-margin-me);
    --switch-height: var(--switch-height-me);
    min-width: var(--switch-min-width) !important;
    margin-top: var(--switch-top) !important;
}

.main-toast {
    position: absolute;
    top: 20px;
    width: 300px;
    right: 20px;
}
.main-toast > div {
    border-radius: 7px;
    box-shadow: 0 0 5px var(--color-shader);
    background-color: var(--color-card-1);
    display: flex !important;
    align-items: center;
    border: 0;
}
.main-toast > div > svg {
    height: 30px;
    width: 30px;
    fill: var(--color-font-r);
    background: var(--color-main);
    margin: 5px 0 5px 5px;
    padding: 7px;
    border-radius: 7px;
}
.main-toast > div > div {
    flex: 1;
    padding: 10px;
}
.main-toast > div > button {
    margin-right: 10px;
    margin-bottom: 0 !important;
}
.main-toast > div > button:focus {
    outline: none;
}

.wave-pan {
    width: 100%;
    margin: 0 -20px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.wave-pan > svg {
    fill: var(--color-card-1);
}
.wave-pan > svg > g > use {
    opacity: 0.5;
}
.wave-pan > svg > g > use:last-child {
    opacity: 1;
}

/* 全局弹窗 */
.ss-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
}
.ss-modal div:first-child {
    background: var(--color-card);
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.ss-modal div:last-child {
    position: fixed;
    bottom: 50%;
    min-height: 20vh;
    width: 40%;
    background: var(--color-bg);
    margin-left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 7px;
    box-shadow: 0 0 5px var(--color-shader);
}
.ss-modal.show {
    display: block;
    opacity: 1;
}
.ss-modal.hover div:first-child {
    opacity: 1;
    background: var(--color-bg);
}.ss-modal.hover div:last-child {
    background: var(--color-card);
}

/* 主框架 */
.main {
    height: 100%;
    margin: 0;
}
.main > div:first-child {
    background-color: var(--color-card-1);
    padding: 10px;
    flex: 0 0 70px;
    max-width: 60px;
}
.main > div:first-child > div {
    height: 100%;
}
.main > div:first-child > div a {
    transition: background-color .3s;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.main > div:first-child > div a:hover {
    background-color: var(--color-card);
}
.main > div:first-child > div a.space {
    flex: 1;
}.main > div:first-child > div a.space:hover {
    background-color: transparent;
}
.main > div:first-child > div a:first-child,
.main > div:first-child > div a:last-child {
    margin: 0;
}
.main > div:first-child > div a svg {
    height: 100%;
    fill: var(--color-main);
}
.main > div:first-child > div a.active {
    background-color: var(--color-main);
    color: var(--color-font-r);
}
.main > div:first-child > div a.active svg {
    fill: var(--color-font-r);
}
.main > div:last-child {
    padding: 0;
    flex: 1;
    max-width: 100%;
}
.main > div:last-child > div {
    height: 100%;
}
.main > div:last-child > div > div {
    height: 100%;
}

/* 第二侧栏 */
.se-bar {
    height: 100vh;
    width: 280px;
    background: var(--color-card);
    overflow: hidden;
}

/* ----------------------------------------------------------- */
/* 主页 */

.home-page {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

/* 登录面板 */
.login-pan {
    background: var(--color-card);
    width: 50%;
    max-width: 430px;
    min-height: 40px;
    border-radius: 7px;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.login-pan p {
    color: var(--color-main);
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 20px;
}
.login-pan a {
    color: var(--color-font-1);
    font-size: 0.9rem;
    margin-bottom: 20px;
}
.login-pan label {
    display: flex;
    background: var(--color-card-1);
    border-radius: 100vh;
    flex-direction: row;
    align-items: center;
    padding: 7px 15px;
    transition: outline .3s;
    width: 80%;
    margin: 0 auto 10px auto;
}
.login-pan label:focus {
    outline: 1px solid var(--color-main);
}
.login-pan label > input {
    border: 0;
    background: transparent;
    margin-left: 10px;
    width: 100%;
    font-size: 0.9rem;
}
.login-pan label > input:focus {
    outline: none;
}
.login-pan label > svg {
    fill: var(--color-main);
    height: 1rem;
}
.login-pan button {
    width: 50px;
    height: 50px;
    border: 0;
    background: var(--color-main);
    border-radius: 50%;
    margin: 15px auto 10px auto;
    padding: 18px;
}
.login-pan button:focus {
    outline: none;
}
.login-pan button > svg {
    fill: var(--color-font-r);
    margin-top: -10px;
}
.login-pan-lg-title {
    position: absolute;
    top: 20px;
    transform: translate(-50%, -150%);
    transition: transform .3s;
}
.login-pan-lg-title p {
    margin-top: 0;
}
.login-pan-lg-title a {
    margin-bottom: 0;
}

.login-tips {
    margin-top: 10px;
    background: var(--color-main);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    overflow: hidden;
    padding: 0 20px;
}
.login-tips svg {
    fill: var(--color-font-r);
    height: 15px;
}
.login-tips span {
    color: var(--color-font-r);
    margin-left: 10px;
    font-size: 0.9rem;
}

/* ----------------------------------------------------------- */
/* 联系人 */

.contact-list {
    display: flex;
    flex-direction: column;
}
.contact-list-body {
    margin-right: -7px;
    overflow-y: scroll;
    flex: 1;
}
.contact-list-title {
    padding: 10px 15px 0 15px;
}
.contact-list-title > span {
    
}

/* ----------------------------------------------------------- */

/* 窄设备兼容 lv1 */
@media (max-width: 992px) {
    .login-pan {
        width: 80%;
    }
}

/* 窄设备兼容 lv2 */
@media (max-width: 500px) {
    .login-pan-lg-title {
        transform: translate(0) !important;
    }
    .login-pan-lg-title p {
        display: unset !important;
    }
    .login-pan-lg-title a {
        display: unset !important;
    }

    .login-pan {
        width: calc(100% - 40px);
        max-width: unset;
        margin-left: 20px;
        transform: translate(0);
        margin-bottom: 20px;
    }
    .login-pan p {
        display: none;
    }
    .login-pan a {
        display: none;
    }
    .login-pan label {
        width: 100%;
    }
    .login-pan label:nth-child(3) {
        margin-top: 25px;
    }

    .home-page {
        justify-content: flex-end;
    }
}