/*
    chat.css - 主框架 (除了消息区) 的样式
    2022/04/05 - Stapx Steve [林槐]
*/

input::-webkit-input-placeholder {
    color: var(--color-font-2);
    font-size: 0.9rem;
}

.main-view {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    transition: height .5s;
}

.controller {
    display: flex;
    justify-content: flex-end;
}
.controller > div {
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
.controller > div:first-child {
    margin-left: 0 !important;
}
.controller > div > svg {
    width: 20px;
    height: 20px;
    margin-top: -7px;
    fill: var(--color-font);
 }

.msg-view {
    flex: 1;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
    transition: border .3s, transform .3s, width .3s;
}
.msg-view-right {
    flex: 1;
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
    transition: border .3s, transform .3s, width .3s;
}

.msg-body {
    flex: 1;
    overflow-y: scroll;
    padding-right: 20px;
    scroll-behavior: smooth;
}
.msg-stat {
    height: 20px;
    color: var(--color-font-2);
    fill: var(--color-font-2);
}

.friend-list {
    background: var(--color-card-1);
    border-radius: 7px;
    width: 320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.login-pan {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    transition: opacity .3s;
}
.login-pan-bg {
    position: absolute;
    background: var(--color-shader);
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.login-pan-card {
    position: absolute;
    width: 30%;
    padding: 40px;
    margin-left: calc(70% / 2);
    margin-top: calc(70vh / 2);
    background: var(--color-card);
    box-shadow: 0 0 5px var(--color-shader);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
 }
.login-pan-card p {
    color: var(--color-main);
    font-size: 1.3rem;
}
.login-pan-card a {
    font-size: 0.9rem;
    color: var(--color-font-1);
    background: var(--color-card-2);
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: -0.5rem;
    text-align: center;
    width: calc(100% - 20px);
    display: inline-block;
}
.login-pan-card input {
    margin-top: 40px;
    width: calc(100% - 20px);
    border: 2px solid var(--color-main);
    height: 40px;
    background: transparent;
    text-align: center;
}
.login-pan-card button {
    margin-top: 40px;
    width: 200px;
    border: 2px solid var(--color-main);
    height: 40px;
}

.drop-a {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: none;
    padding: 16px;
}
.drop-a:hover {
    background: transparent;
}
.drop-a::after {
    display: none !important;
}
.show>.btn-secondary.dropdown-toggle {
    color: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
}
.show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
 }
.btn-secondary.dropdown-toggle:focus {
    color: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: 0 0 0 0.2rem transparent !important;
}
.drop-div {
    padding: 5px;
    border: 0;
    background: var(--color-card-1);
    min-width: 300px;
    max-height: 275px;
    overflow-y: scroll;
}

.cmd-body {
    border-radius: 7px;
    display: flex;
}
.cmd-body:hover {
    background: var(--color-main);
}
.cmd-body:hover a {
    color: var(--color-font-1-r) !important;
}
.cmd-body:focus {
    background: var(--color-main);
}
.cmd-body a:nth-child(1) {
    color: var(--color-font);
    display: inline-block;
    margin-right: 10px;
}
.cmd-body a:nth-child(2) {
    color: var(--color-font);
    display: inline-block;
    font-size: 0.9rem;
    flex: 1;
}
.cmd-body a:nth-child(3) {
    font-size: 0.9rem;
    color: var(--color-font-2);
    display: inline-block;
    margin-left: 80px;
}

.img-view {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    transition: opacity .3s;
    overflow: hidden;
}
.img-view div:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-shader);
    opacity: 0.8;
}
.img-view div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}
.img-view div:nth-child(2) > img {
    max-height: calc(100% - 20vh);
    max-width: 100%;
    display: inline-block;
    margin-top: 50vh;
    transform: translate(0, -50%);
}

.btn-img-hover {
    position: absolute;
    background: var(--color-card-2);
    box-shadow: 0 0 5px var(--color-shader);
    width: 200px;
    height: 200px;
    margin-top: -230px;
    margin-left: -90px;
    border-radius: 7px;
    padding: 10px;
    pointer-events: none;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
}
.btn-img-hover img {
    max-width: 100%;
    max-height: 100%;
    transform: translate(0, -50%);
    margin-top: 50%;
}

.friend-search {
    display: flex;
}
.friend-search div {
    width: 45px;
    height: 45px;
    padding: 14px;
    background: var(--color-card-2);
    cursor: pointer;
}
.friend-search svg {
    margin-top: -9px;
    fill: var(--color-font-2);
}
.friend-search input {
    flex: 1;
    background: var(--color-card-2);
    border: 0;
    padding: 0 20px;
}
.friend-search input:focus {
    outline: 0;
}
.friend-search-body {
    background: var(--color-card-2);
    padding: 0 7px;
    transition: height .3s;
    max-height: 50%;
    overflow-y: scroll;
    box-shadow: 0px 11px 11px var(--color-shader);
    margin-right: -7px;
}
.friend-search-body > div {
    background: var(--color-main) !important;
    color: var(--color-font-r) !important;
}

.right-click-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.right-click-menu > div:nth-child(1) {
    position: absolute;
    width: 100%;
    height: 100%;
}
.menu {
    box-shadow: 0 0 5px var(--color-shader);
    max-width: 50%;
    min-width: 10%;
    width: fit-content;
    padding: 10px;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform .1s;
}
.menu div {
    display: flex;
    padding: 10px;
    border-radius: 7px;
    transition: background .3s, color .3s;
    fill: var(--color-font-2);
    margin: 2px 0;
}
.menu div:hover {
    background: var(--color-main);
    color: var(--color-font-r);
}
.menu div:hover svg {
    fill: var(--color-font-r);
}
.menu div svg {
    height: 1rem;
    width: 1rem;
    margin-right: 10px;
}
.menu div a {
    line-height: 1rem;
    user-select: none;
}

.resend-tips {
    display: flex;
    height: 45px;
    background: var(--color-card-2);
    transition: height .3s;
}
.resend-tips div {
    width: 45px;
    height: 45px;
    padding: 14px;
}
.resend-tips div svg {
    fill: var(--color-font-1);
    margin-top: -9px;
}
.resend-tips a {
    line-height: 45px;
    font-size: 0.9rem;
    color: var(--color-font-1);
    flex: 1;
}

.back-btn {
    display: none;
}

.run-statue {

}
.run-statue > div {
    height: 35px;
    display: flex;
    margin: 10px 0;
    background: var(--color-card-1);
    border-radius: 7px;
    overflow: hidden;
    transition: height .3s, opacity .3s, margin .2s;
}
.run-statue > div > svg {
    padding: 10px;
    margin-right: 10px;
}
.run-statue > div > a {
    line-height: 35px;
    flex: 1;
    font-size: 0.9rem;
}

@media (max-width: 992px) {
    .login-pan-card {
        width: calc(100% - 20px);
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .back-btn {
        display: block;
    }
    .msg-view {
        width: calc(100% + 360px);
    }
    .msg-view-right {
        transform: translate(-360px);
        width: calc(100% + 360px);
    }
    .message-space {
        flex: 0 !important;
    }
    .message > img {
        display: block !important;
    }
    .message-body > a {
        display: inline-block !important;
    }
}