.message {
    display: flex;
    padding: 10px;
    width: 100%;
    border-radius: 7px;
}
.message > img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin: 5px 15px 0 15px;
}
.message-body {
    color: var(--color-font);
    max-width: 60%;
}
.message-body > a {
    color: var(--color-font-1);
    font-size: 0.9rem;
    display: inline-block;
    margin: 0 5px;
}
.message-body > div {
    background: var(--color-card-1);
    padding: 10px;
    border-radius: 7px;
    width: fit-content;
}
.message-space {
    flex: 1;
}

.msg-img {
    border-radius: 7px;
    max-height: 35vh;
    cursor: pointer;
    display: block;
    width: calc(100% - 10px);
    margin: 5px;
}

.msg-face {
    width: 1.2rem;
    height: 1.2rem;
    image-rendering: pixelated;
    margin: -5px 2px 0 2px;
}

.msg-unknow {
    color: var(--color-font-2) !important;
    font-style: italic;
}

.msg-at {
    color: var(--color-main) !important;
    cursor: pointer;
}

.msg-replay {
    background: var(--color-card-2);
    padding: 10px;
    border-radius: 7px;
    font-size: 0.9rem;
}

.note-base {
    text-align: center;
    margin: 40px 0 10px 0;
}

.note-time {
    width: 100%;
    background: var(--color-card-1);
    padding: 5px 20px;
    border-radius: 100vh;
    font-size: 0.8rem;
    color: var(--color-font-2) !important;
}

.msg-xml {
    padding: 5px 15px;
}
.msg-xml p {
    margin-bottom: 2px;
}
.msg-xml-summary {
    display: block;
    font-size: 0.9rem;
    background: var(--color-card-2);
    margin: 0 -25px -15px -25px;
    padding: 5px 5px 5px 10px;
    border-radius: 0 0 7px 7px;
}
.msg-xml-img {
    width: 70%;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translate(-50%);
}

.msg-record {
    display: flex;
    margin: 0 5px;
}
.msg-record > i {
    display: inline-block;
    font-size: 2rem;
}
.msg-record > div {
    margin-left: 10px;
}
.msg-record > div a {
    line-height: 2rem;
}