/*
    view.css - 主框架外的全部样式以及通用样式
    2022/04/05 - Stapx Steve [林槐]
*/

.friend-body {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: var(--color-font);
    margin: 10px;
    padding: 10px 10px 10px 0;
    border-radius: 7px;
    transform: translate(0, 0);
    transition: background .2s, color .2s, transform .2s;
}
.friend-body:hover {
    background: var(--color-main);
    color: var(--color-font-1-r);
}
.friend-body:hover a {
    color: var(--color-font-1-r);
}
.friend-body img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.friend-body > div {
    flex: 1;
    margin-left: 10px;
    overflow: hidden;
}
.friend-body > div:nth-child(1) {
    flex: unset;
    width: 4px;
    background: var(--color-main);
    border-radius: 4px;
    margin-right: 10px;
    transform: scaleY(0);
    margin-left: 3px;
    transition: transform .3s;
}
.friend-body > div p {
    font-weight: bold;
    margin-bottom: 0;
}
.friend-body > div a {
    font-size: 0.9rem;
    color: var(--color-font-1);
    white-space: nowrap;
}
.friend-body > a {
    font-size: 0.9rem;
    color: var(--color-font-2);
}

.msg-hander {
    display: flex;
    flex-direction: row;
    background: var(--color-main);
    height: 50px;
    border-radius: 7px 7px 0 0;
    color: var(--color-font-r);
    padding: 0 20px;
}
.msg-hander > svg {
    width: 25px;
    fill: var(--color-font-r);
    margin-top: 5px;
    margin-right: 15px;
}
.msg-hander > a {
    line-height: 50px;
    font-size: 1.2rem;
    display: inline-block;
    flex: 1;
}
.msg-hander > div {
    width: 30px;
    background: #0000002e;
    border-radius: 100vh;
    margin: 10px 0;
    margin-left: 10px;
}
.msg-hander > div svg {
    width: 4px;
    margin-left: 13px;
    margin-top: 2px;
    fill: var(--color-font-r);
}

.sender {
    justify-content: flex-start;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.msg-box {
    flex: 1;
    padding: 0;
    background: var(--color-card-1);
}
.msg-box input {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    outline: 0;
    border: 2px solid transparent;
    border-radius: 7px;
    transition: border .3s;
    background: transparent;
}
.msg-box input:focus {
    border: 2px solid var(--color-main);
}

.replyer {
    display: flex;
    overflow: hidden;
    background: var(--color-card-1);
    margin-bottom: 10px;
    border-radius: 7px;
    height: 0;
    transition: height .3s;
}
.replyer > svg {
    fill: var(--color-font-1);
    height: 15px;
    margin: 15px;
}
.replyer div {
    height: 45px;
    width: 45px;
    padding: 16px;
    cursor: pointer;
}
.replyer div svg {
    width: 100%;
    margin-top: -12px;
    fill: var(--color-font-2);
}
.replyer a {
    display: inline-block;
    flex: 1;
    line-height: 45px;
    margin-left: 10px;
}

.resender {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: var(--color-card-1);
    border-radius: 7px;
    overflow: hidden;
    transition: height .2s;
}
.resender > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10%;
}
.resender > div div {
    height: 40px;
    width: 40px;
    background: var(--color-card-2);
    border-radius: 100%;
    padding: 10px;
}
.resender > div svg {
    fill: var(--color-font-2);
    margin-top: -8px;
}
.resender > div a {
    display: inline-block;
    margin-top: 5px;
    font-size: 0.7rem;
    width: 100%;
    text-align: center;
    color: var(--color-font-2);
}